<nav> 
        <ul class="topnav">
            
                <li class="topnavitem"><a href="/">Home</a></li>
                <li class="topnavitem"><a href="/beers">Beers</a></li>
                <li class="topnavitem"><a href="/randombeers">Randombeers</a></li>
            </li>
        </ul>
    </nav>